#searchRow
{
text-align: center;

}

#descriptionRow
{
    text-align: center;
    padding:0px;

}

#mainRow {
    background-color: lightseagreen;
    width: auto;
    padding-top: 100px;
    height: auto;
}
#form-search{
    padding-bottom: 20px;
}