#searchRow
{
    margin-top: -25px;
    padding-top: -25px;

}

#descriptionRow
{
    text-align: center;
    padding-top: 10px;

}

#mainRow {
    background-color: lightseagreen;
    font-family: Rockwell;
    padding-top: 100px;
    padding-bottom: 30px;


}
